* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../image/login\ bg/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/* Login page */

.login-area {
    width: 600px;
    height: 560px;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7f4f99c;
    margin: 80px auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.login-area .form-control {
    width: 400px;
    padding: 8px 14px;
    border-radius: 20px;
}

.login-area .btn {
    width: 400px;
    padding: 8px 14px;
    background-color: #c0e8fd;
    border-radius: 20px;
}

.login-area .btn:hover {
    background-color: #b1e1fb;
}

/* register page */

.login-area .login {
    text-decoration: none;
    color: #0495e2;
    font-weight: 500;
    
}